@model Datos.Models.REQUISC_PORTAL
@{
    if (Model?.FECREQUI != null)
    {
        ViewBag.Fecha = Convert.ToDateTime(Model.FECREQUI).ToString("dd/MM/yyyy");
    }
    else
    {
        DateTime hoy = DateTime.Now;

        string miVariable = hoy.ToString("dd/MM/yyyy");
        ViewBag.Fecha = miVariable;
    }

    var solicitantes = Json.Serialize(ViewBag.Solicitantes);
    var areas = Json.Serialize(ViewBag.Areas);
    var servicios = Json.Serialize(ViewBag.Servicios);
    var centro = Json.Serialize(ViewBag.CentroCosto);
    var orden = Json.Serialize(ViewBag.OrdenFabricacion);

}

<!-- INICIO MODAL ARTICULOS -->
<div class="modal fade" id="m_servicios" tabindex="-1" role="dialog" aria-labelledby="Modal Central" aria-hidden="true">
    <div class="modal-dialog modal-pe" role="document">
        <div class="modal-content p-2">
            <div class="modal-header col-sm-12">
                <h4 class="modal-title">Listado de Servicios</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body h500">
                <div class="row">
                    <input type="hidden" id="m_linea" />
                    <div class="col-sm-2">
                        <label>* C&oacute;digo</label>
                        <div class="input-group">
                            <div class="input-group-prepend" style="cursor: pointer" onclick="$('#m_gservicio').modal('show')">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                            <input class="form-control" id="m_codigo" onblur="validar_id()" maxlength="20" />
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label>* Descripci&oacute;n</label>
                        <input class="form-control" id="m_descripcion" maxlength="200" />
                    </div>
                    <div class="col-sm-2">
                        <label>* Cantidad</label>
                        <input class="form-control" id="m_cantidad" onkeypress="solo_enteros(event)" />
                    </div>
                    <div class="col-sm-3">
                        <label>Ord. Fab.</label>
                        <select class="form-control" id="orden_fabricacion" maxlength="20"></select>
                    </div>
                    <div class="col-sm-3 mt-1">
                        <label>* Centro de Costo</label>
                        <select class="form-control" id="centro_costo"></select>
                    </div>
                    <div class="col-sm-9 mt-1">
                        <label>Glosa</label>
                        <input id="glosa_servicio" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" onclick="agregar_servicio()">
                    <i class='fa fa-check'></i>
                    Aceptar
                </a>
                <a href="#" class="btn btn-danger" onclick="$('#m_servicios').modal('hide')">
                    <i class='fa fa-times'></i>
                    Salir
                </a>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL ARTICULOS -->
<!-- INICIO MODAL GRID ARTICULOS -->
<div class="modal fade" id="m_gservicio" tabindex="0" role="dialog" aria-labelledby="Modal Central" aria-hidden="true">
    <div class="modal-dialog modal-xp" role="document">
        <div class="modal-content p-2">
            <div class="modal-header col-sm-12">
                <h4 class="modal-title">Listado de Servicios</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body h500">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped pre-scrollable2 dataTables" id="gridServicios" style="width: 100%">
                            <thead class="bg-info">
                                <tr>
                                    <th>C&oacute;digo</th>
                                    <th>Descripci&oacute;n</th>
                                    <th style="width: 5px"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" onclick="$('#m_gservicio').modal('hide')">
                    <i class='fa fa-times'></i>
                    Salir
                </a>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL GRID ARTICULOS -->

<div class="col-sm-3 col-lg-2">
    <div asp-validation-summary="ModelOnly" class="text-danger w-100"></div>
    <div class="form-group">
        <label asp-for="NROREQUI" class="control-label"></label> *
        @if (Model?.NROREQUI == null)
        {
            <input asp-for="NROREQUI" class="form-control" onkeypress="solo_enteros(event)" maxlength="10" />
        }
        else
        {
            <input asp-for="NROREQUI" class="form-control" readonly maxlength="10" />
        }
        <span asp-validation-for="NROREQUI" class="text-danger w-100"></span>
    </div>
</div>
<div class="col-sm-3 col-lg-2">
    <div class="form-group">
        <label asp-for="FECREQUI" class="control-label"></label> *
        <input asp-for="FECREQUI" class="form-control fecha" value="@ViewBag.Fecha" />
        <span asp-validation-for="FECREQUI" class="text-danger w-100"></span>
    </div>
</div>
<div class="col-sm-3 col-lg-2">
    <div class="form-group">
        <label asp-for="CODSOLIC" class="control-label"></label> *
        <select class="form-control" asp-for="CODSOLIC"></select>
        <span asp-validation-for="CODSOLIC" class="text-danger w-100"></span>
    </div>
</div>
<div class="col-sm-3 col-lg-2">
    <div class="form-group">
        <label asp-for="AREA" class="control-label"></label> *
        <select class="form-control" asp-for="AREA"></select>
        <span asp-validation-for="AREA" class="text-danger w-100"></span>
    </div>
</div>
<div class="col-sm-12 mt-1 col-lg-4">
    <div class="form-group">
        <label asp-for="GLOSA" class="control-label"></label>
        <input asp-for="GLOSA" class="form-control" maxlength="60" />
        <span asp-validation-for="GLOSA" class="text-danger w-100"></span>
    </div>
</div>
<div class="col-sm-2">
    <label class="btn btn-primary" onclick="$('#m_servicios').modal('show')">
        <i class="fa fa-plus"></i>
        Agregar Servicio
    </label>
</div>

<div class="col-sm-12 mt-1 table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>C&oacute;digo</th>
                <th>Descripci&oacute;n</th>
                <th>Cantidad</th>
                <th>Centro Costo</th>
                <th>Ord. Fab.</th>
                <th>Glosa</th>
                <th style="width: 5px">Edit.</th>
                <th style="width: 5px">Del.</th>
            </tr>
        </thead>
        <tbody id="tabla_servicio"></tbody>
    </table>
</div>

<script type="text/javascript">
    var global = 1;
    var datos_solicitantes  = JSON.parse('@Html.Raw(solicitantes)').value;
    var datos_areas         = JSON.parse('@Html.Raw(areas)').value;
    var datos_servicio      = JSON.parse('@Html.Raw(servicios)').value;
    var datos_centro        = JSON.parse('@Html.Raw(centro)').value;
    var datos_orden         = JSON.parse('@Html.Raw(orden)').value;

    $(function () {
        $(".fecha").datepicker({
            language: 'es',
            format: 'dd/mm/yyyy',
            autoclose: true,
            startDate: '-1Y',
            endDate: '+1Y',
            orientation: 'bottom'
        });

        $(".fecha").inputmask('99/99/9999', { numericInput: true });

        CODSOLIC = $("#CODSOLIC")[0];
        CODSOLIC.length = 0;
        for (var i = 0; i < datos_solicitantes.length; i++) {
            CODSOLIC[i] = new Option(datos_solicitantes[i].solicitante,datos_solicitantes[i].codigo,"","");
        }

        AREA = $("#AREA")[0];
        AREA.length = 0;
        for (i = 0; i < datos_areas.length; i++) {
            AREA[i] = new Option(datos_areas[i].area,datos_areas[i].codigo,"","");
        }

        CENTRO = $("#centro_costo")[0];
        CENTRO.length = 0;
        for (i = 0; i < datos_centro.length; i++) {
            CENTRO[i] = new Option(datos_centro[i].centrO_COSTO,datos_centro[i].codigo,"","");
        }

        ORDEN = $("#orden_fabricacion")[0];
        ORDEN.length = 0;
        ORDEN[0] = new Option("Seleccione","","","");
        for (i = 1; i <= datos_orden.length; i++) {
            ORDEN[i] = new Option(datos_orden[i-1].orden_fabricacion,datos_orden[i-1].codigo,"","");
        }

        llenar_grid_servicio(datos_servicio);

        if ($("#NROREQUI").val() != "") {
            var tabla = $("#tabla_servicio")[0];
            var arreglo = new Array();
            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    url: "@Url.Content("~/Servicios/ListadoDetalle")",
                    data: "codigo="+$("#NROREQUI").val(),
                    cache: false,
                    success: function (datos) {
                        for (var i = 0; i < datos.length; i++) {
                            arreglo.length = 0;
                            arreglo[0] = global;
                            arreglo[1] = datos[i].codpro;
                            arreglo[2] = datos[i].descpro;
                            arreglo[3] = parseFloat(datos[i].cantid);
                            arreglo[4] = datos[i].cencost;
                            arreglo[5] = datos[i].ordfaB_REQUI;
                            arreglo[6] = datos[i].glosa;
                            tabla.appendChild(llenar_tabla(arreglo));
                            global++;
                        }
                    },
                });
        }
    });

    function llenar_grid_servicio(datos) {
        $("#gridServicios").DataTable({
            destroy: true,
            bInfo: false,
            data: datos,
            columns: [
                { data: "codigo" },
                { data: "descripcion" },
                {
                    render: function (data, type, row)
                    {
                        return "<a class='btn btn-info' onclick='cargar_id("+JSON.stringify(row)+")' title='Seleccionar' href='#'><i class='fa fa-check'></i></a>";
                    }
                },
            ]
        });
    }

    function cargar_id(row) {
        $("#m_codigo").val(row.codigo);
        $("#m_descripcion").val(row.descripcion);
        $('#m_gservicio').modal('hide');
    }

    function validar_id() {
        var bandera = true;
        var servicio = $("#m_codigo").val().trim();
        if (servicio != "") {
            for (var i = 0; i < datos_servicio.length; i++) {
                if (datos_servicio[i].codigo == servicio) {
                    bandera = false;
                    break;
                }
            }

            if (bandera) {
                $("#m_codigo").val("");
                $("#m_descripcion").val("");
                MostrarMensaje("Rojo", "Error en el Código del Servicio");
                $("#m_codigo").focus();
            } else {
                $("#m_codigo").val(datos_servicio[i].codigo);
                $("#m_descripcion").val(datos_servicio[i].descripcion);
            }
        }
    }

    function llenar_tabla(row) {
        for (var i = 0; i < row.length; i++) {
            tr = document.createElement("tr");
            tr.id = "r_" + row[0];
            td0 = document.createElement("td");
            node0 = document.createTextNode(row[0]);
            td0.appendChild(node0);
            tr.appendChild(td0);

            td9 = document.createElement("td");
            node9 = document.createTextNode(row[1]);
            td9.appendChild(node9);
            tr.appendChild(td9);

            td1 = document.createElement("td");
            node1 = document.createTextNode(row[2]);
            td1.appendChild(node1);
            tr.appendChild(td1);

            td2 = document.createElement("td");
            node2 = document.createTextNode(row[3]);
            td2.appendChild(node2);
            tr.appendChild(td2);

            td3 = document.createElement("td");
            node3 = document.createTextNode(row[4]);
            td3.appendChild(node3);
            tr.appendChild(td3);

            td4 = document.createElement("td");
            node4 = document.createTextNode(row[5]);
            td4.appendChild(node4);
            tr.appendChild(td4);

            td5 = document.createElement("td");
            node5 = document.createTextNode(row[6]);
            td5.appendChild(node5);
            tr.appendChild(td5);

            td10 = document.createElement("td");
            a0 = document.createElement("a");
            i0 = document.createElement("i");
            i0.className = "fa fa-edit";
            a0.className = "btn btn-info";
            a0.href = "#";
            eval("a0.onclick = function(){editar_servicio(" + row[0] + ");}");
            a0.appendChild(i0);
            td10.appendChild(a0);
            tr.appendChild(td10);

            td11 = document.createElement("td");
            a1 = document.createElement("a");
            i1 = document.createElement("i");
            i1.className = "fa fa-times";
            a1.className = "btn btn-danger";
            a1.href = "#";
            eval("a1.onclick = function(){eliminar_servicio(" + row[0] + ");}");
            a1.appendChild(i1);
            td11.appendChild(a1);
            tr.appendChild(td11);
        }
        return tr;
    }

    function agregar_servicio() {
        var linea = $("#m_linea").val();
        var codigo = $("#m_codigo").val();
        var glosa = $("#glosa_servicio").val();
        var descripcion = $("#m_descripcion").val();
        var cantidad = $("#m_cantidad").val();
        var centro_costo = $("#centro_costo").val();
        var orden_fabricacion = $("#orden_fabricacion").val();
        var tabla = $("#tabla_servicio")[0];
        var arreglo = new Array();

        if ((codigo != "") && (descripcion != "") && (cantidad != "") && (centro_costo != "")) {
            if (linea == "") {
                arreglo[0] = global;
                arreglo[1] = codigo;
                arreglo[2] = descripcion;
                arreglo[3] = cantidad;
                arreglo[4] = centro_costo;
                arreglo[5] = orden_fabricacion;
                arreglo[6] = glosa;
                tabla.appendChild(llenar_tabla(arreglo));
                global++;
            } else {
                $("#r_" + linea).each(function (index) {
                    var td = $(this).children("td");
                    td.eq(1).text($("#m_codigo").val());
                    td.eq(2).text($("#m_descripcion").val());
                    td.eq(3).text($("#m_cantidad").val());
                    td.eq(4).text($("#centro_costo").val());
                    td.eq(5).text($("#orden_fabricacion").val());
                    td.eq(6).text($("#glosa_servicio").val());
                });
            }
            limpiar_campos();
        } else {
            MostrarMensaje("Rojo", "Faltan datos obligatorios");
        }
    }

    function limpiar_campos() {
        $("#m_linea").val("");
        $("#m_codigo").val("");
        $("#glosa_servicio").val("");
        $("#m_descripcion").val("");
        $("#m_cantidad").val("");
        $("#orden_fabricacion").val("");
    }

    function editar_servicio(linea) {
        $("#r_" + linea).each(function (index) {
            var td = $(this).children("td");
            $("#m_linea").val(td.eq(0).text());
            $("#m_codigo").val(td.eq(1).text());
            $("#m_descripcion").val(td.eq(2).text());
            $("#m_cantidad").val(td.eq(3).text());
            $("#centro_costo").val(td.eq(4).text());
            $("#orden_fabricacion").val(td.eq(5).text());
            $("#glosa_servicio").val(td.eq(6).text());
            $('#m_servicios').modal('show')
        });
    }

    function eliminar_servicio(linea) {
        swal({
            title: "¿Estás seguro?",
            text: "Confirmar anulado de la línea: " + linea,
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-secondary",
            confirmButtonText: "Aceptar",
            cancelButtonText: "Cancelar",
        },
        function (isConfirm) {
            if (isConfirm) {
                $("#r_"+linea).remove();
            }
        });
    }
</script>
