@model Datos.Models.REQUISC_PORTAL
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    if (Model?.FECREQUI != null)
    {
        ViewBag.Fecha = Convert.ToDateTime(Model.FECREQUI).ToString("dd/MM/yyyy");
    }
    else
    {
        DateTime hoy = DateTime.Now;

        string miVariable = hoy.ToString("dd/MM/yyyy");
        ViewBag.Fecha = miVariable;
    }

    var solicitantes = Json.Serialize(ViewBag.Solicitantes);
    var areas = Json.Serialize(ViewBag.Areas);
    var articulos = Json.Serialize(ViewBag.Articulos);
    var centro = Json.Serialize(ViewBag.CentroCosto);
    var orden = Json.Serialize(ViewBag.OrdenFabricacion);

}

<!-- INICIO MODAL ARTICULOS -->
<div class="modal fade" id="m_articulos" tabindex="-1" role="dialog" aria-labelledby="Modal Central" aria-hidden="true">
    <div class="modal-dialog modal-pe" role="document">
        <div class="modal-content p-2">
            <div class="modal-header col-sm-12">
                <h4 class="modal-title">Listado de Art&iacute;culos</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body h500">
                <div class="row">
                    <input type="hidden" id="m_linea" />
                    <div class="col-sm-2">
                        <label>* C&oacute;digo</label>
                        <div class="input-group">
                            <div class="input-group-prepend" style="cursor: pointer" onclick="$('#m_garticulo').modal('show')">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                            <input class="form-control" id="m_codigo" onblur="validar_id()" maxlength="20" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>* Descripci&oacute;n</label>
                        <input class="form-control" id="m_descripcion" maxlength="200" />
                    </div>
                    <div class="col-sm-2">
                        <label>* Unidad</label>
                        <input class="form-control" id="m_unidad" readonly />
                    </div>
                    <div class="col-sm-2">
                        <label>* Cantidad</label>
                        <input class="form-control" id="m_cantidad" onkeypress="solo_enteros(event)" />
                    </div>
                    <div class="col-sm-2 mt-1">
                        <label class="btn btn-primary w-100 disabled" href="javascript:(void)" onclick="if (!document.querySelector('#m_btn_artalm.disabled')) $('#m_garticuloalm').modal('show');" id="m_btn_artalm">
                            <i class="fa fa-search"></i>
                            Detalle por <br />Almac&eacute;n
                        </label>
                    </div>
                    <div class="col-sm-2 mt-1">
                        <label class="w-100">Stock</label>
                        <input id="m_stock" readonly class="form-control" />
                    </div>
                    <div class="col-sm-2 mt-1">
                        <label>* Fecha Requerim.</label>
                        <input id="fecha_req" class="form-control fecha" value="@ViewBag.Fecha" />
                    </div>
                    <div class="col-sm-3 mt-1">
                        <label>* Centro de Costo</label>
                        <select class="form-control" id="centro_costo"></select>
                    </div>
                    <div class="col-sm-3 mt-1">
                        <label>Nro. Maquina</label>
                        <input id="nro_maquina" class="form-control" maxlength="30" />
                    </div>
                    <div class="col-sm-3 mt-1">
                        <label>Ord. Fab.</label>
                        <select class="form-control" id="orden_fabricacion" maxlength="20"></select>
                    </div>
                    <div class="col-sm-9 mt-1">
                        <label>Glosa Art&iacute;culo</label>
                        <input id="glosa_articulo" class="form-control" maxlength="60" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" onclick="agregar_articulo()">
                    <i class='fa fa-check'></i>
                    Aceptar
                </a>
                <a href="#" class="btn btn-danger" onclick="$('#m_articulos').modal('hide')">
                    <i class='fa fa-times'></i>
                    Cerrar Ventana
                </a>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL ARTICULOS -->
<!-- INICIO MODAL GRID ARTICULOS -->
<div class="modal fade" id="m_garticulo" tabindex="0" role="dialog" aria-labelledby="Modal Central" aria-hidden="true">
    <div class="modal-dialog modal-xp" role="document">
        <div class="modal-content p-2">
            <div class="modal-header col-sm-12">
                <h4 class="modal-title">Listado de Art&iacute;culos</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body h500">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped pre-scrollable2 dataTables" id="gridArticulos" style="width: 100%">
                            <thead class="bg-info">
                                <tr>
                                    <th>C&oacute;digo</th>
                                    <th>Descripci&oacute;n</th>
                                    <th>Unidad</th>
                                    <th>Familia</th>
                                    <th>Stock</th>
                                    <th style="width: 5px"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" onclick="$('#m_garticulo').modal('hide')">
                    <i class='fa fa-times'></i>
                    Cerrar Ventana
                </a>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL GRID ARTICULOS -->
<!-- INICIO MODAL GRID ARTICULOS ALMACEN -->
<div class="modal fade" id="m_garticuloalm" tabindex="0" role="dialog" aria-labelledby="Modal Central" aria-hidden="true">
    <div class="modal-dialog modal-xp" role="document">
        <div class="modal-content p-2">
            <div class="modal-header col-sm-12">
                <h4 class="modal-title">Listado de Art&iacute;culos por Almac&eacute;n</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body h500">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped pre-scrollable2 dataTables" id="gridArticulosAlm" style="width: 100%">
                            <thead class="bg-info">
                                <tr>
                                    <th>C&oacute;digo</th>
                                    <th>Descripci&oacute;n</th>
                                    <th>Unidad</th>
                                    <th>Almacén</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" onclick="$('#m_garticuloalm').modal('hide')">
                    <i class='fa fa-times'></i>
                    Cerrar Ventana
                </a>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL GRID ARTICULOS ALMACEN -->


<div class="col-sm-3 col-lg-2">
    <div asp-validation-summary="ModelOnly" class="text-danger w-100"></div>
    <input asp-for="COD_USUARIO" class="form-control" type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("USU_CODIGO")" />
    <div class="form-group">
        <label asp-for="NROREQUI" class="control-label"></label> *
        @if (Model?.NROREQUI == null)
        {
            <input asp-for="NROREQUI" class="form-control" readonly maxlength="10" value="0" />
        }
        else
        {
            <input asp-for="NROREQUI" class="form-control" readonly maxlength="10" />
        }
        <span asp-validation-for="NROREQUI" class="text-danger w-100"></span>
    </div>
</div>
<div class="col-sm-3 col-lg-2">
    <div class="form-group">
        <label asp-for="FECREQUI" class="control-label"></label> *
        <input asp-for="FECREQUI" class="form-control fecha" value="@ViewBag.Fecha" />
        <span asp-validation-for="FECREQUI" class="text-danger w-100"></span>
    </div>
</div>
<div class="col-sm-3 col-lg-2">
    <div class="form-group">
        <label asp-for="CODSOLIC" class="control-label"></label> *
        <select class="form-control" asp-for="CODSOLIC"></select>
        <span asp-validation-for="CODSOLIC" class="text-danger w-100"></span>
    </div>
</div>
<div class="col-sm-3 col-lg-2">
    <div class="form-group">
        <label asp-for="AREA" class="control-label"></label> *
        <select class="form-control" asp-for="AREA"></select>
        <span asp-validation-for="AREA" class="text-danger w-100"></span>
    </div>
</div>
<div class="col-sm-12 mt-1 col-lg-4">
    <div class="form-group">
        <label asp-for="GLOSA" class="control-label"></label>
        <input asp-for="GLOSA" class="form-control" maxlength="60" />
        <span asp-validation-for="GLOSA" class="text-danger w-100"></span>
    </div>
</div>
<div class="col-sm-2">
    <label class="btn btn-primary" onclick="$('#m_articulos').modal('show')">
        <i class="fa fa-plus"></i>
        Agregar Art&iacute;culo
    </label>
</div>

<div class="col-sm-12 mt-1 table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>C&oacute;digo</th>
                <th>Descripci&oacute;n</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Fecha Req.</th>
                <th>Centro Costo</th>
                <th>No. Maquina</th>
                <th>Ord. Fab.</th>
                <th>Glosa</th>
                <th style="width: 5px">Edit.</th>
                <th style="width: 5px">Del.</th>
            </tr>
        </thead>
        <tbody id="tabla_articulo"></tbody>
    </table>
</div>

<script type="text/javascript">
    var global = 1;
    var datos_solicitantes  = JSON.parse('@Html.Raw(solicitantes)').value;
    var datos_areas         = JSON.parse('@Html.Raw(areas)').value;
    var datos_articulo      = JSON.parse('@Html.Raw(articulos)').value;
    var datos_centro        = JSON.parse('@Html.Raw(centro)').value;
    var datos_orden         = JSON.parse('@Html.Raw(orden)').value;

    $(function () {
        $(".fecha").datepicker({
            language: 'es',
            format: 'dd/mm/yyyy',
            autoclose: true,
            startDate: '-1Y',
            endDate: '+1Y',
            orientation: 'bottom'
        });

        $(".fecha").inputmask('99/99/9999', { numericInput: true });

        CODSOLIC = $("#CODSOLIC")[0];
        CODSOLIC.length = 0;
        for (var i = 0; i < datos_solicitantes.length; i++) {
            CODSOLIC[i] = new Option(datos_solicitantes[i].solicitante,datos_solicitantes[i].codigo,"","");
        }

        AREA = $("#AREA")[0];
        AREA.length = 0;
        for (i = 0; i < datos_areas.length; i++) {
            AREA[i] = new Option(datos_areas[i].area,datos_areas[i].codigo,"","");
        }

        CENTRO = $("#centro_costo")[0];
        CENTRO.length = 0;
        for (i = 0; i < datos_centro.length; i++) {
            CENTRO[i] = new Option(datos_centro[i].centrO_COSTO,datos_centro[i].codigo,"","");
        }

        ORDEN = $("#orden_fabricacion")[0];
        ORDEN.length = 0;
        ORDEN[0] = new Option("Seleccione","","","");
        for (i = 1; i <= datos_orden.length; i++) {
            ORDEN[i] = new Option(datos_orden[i-1].orden_fabricacion,datos_orden[i-1].codigo,"","");
        }

        llenar_grid_articulo(datos_articulo);

        if ($("#NROREQUI").val() != "0") {
            var tabla = $("#tabla_articulo")[0];
            var arreglo = new Array();
            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    url: "@Url.Content("~/Compras/ListadoDetalle")",
                    data: "codigo="+$("#NROREQUI").val(),
                    cache: false,
                    success: function (datos) {
                        for (var i = 0; i < datos.length; i++) {
                            arreglo.length = 0;
                            arreglo[0] = global;
                            arreglo[1] = datos[i].codpro;
                            arreglo[2] = datos[i].descpro;
                            arreglo[3] = datos[i].unipro;
                            arreglo[4] = parseFloat(datos[i].cantid);

                            var fecha = datos[i].fecreque.split("T");
                            var fecha = fecha[0].split("-");
                            arreglo[5] = fecha[2]+"/"+fecha[1]+"/"+fecha[0];
                            arreglo[6] = datos[i].cencost;
                            arreglo[7] = datos[i].remaq;
                            arreglo[8] = datos[i].ordfaB_REQUI;
                            arreglo[9] = datos[i].glosa;
                            tabla.appendChild(llenar_tabla(arreglo));
                            global++;
                        }
                    },
                });
        }
    });

    function buscar_xalmacen() {
        var numero = $("#m_codigo").val().trim();
        if (numero != "") {
            $.ajax(
            {
                type: "GET",
                dataType: "json",
                url: "@Url.Content("~/Compras/ArticulosPorAlmacen")",
                data: "codigo="+numero,
                cache: false,
                success: function (datos) {
                    if (datos.length>0) {
                        llenar_grid_articuloalm(datos);
                    }
                },
            });
        }
    }

    function buscar_req(numero) {
        if (numero.trim() != "") {
            $.ajax(
            {
                type: "GET",
                dataType: "json",
                url: "@Url.Content("~/Compras/RequisicionExiste")",
                data: "codigo="+numero,
                cache: false,
                success: function (datos) {
                    if (datos) {
                        MostrarMensaje("Rojo", "El número de la requisición ya existe");
                        $("#NROREQUI").val("");
                        $("#NROREQUI").focus();
                    }
                },
            });
        }
    }

    function llenar_grid_articulo(datos) {
        $("#gridArticulos").DataTable({
            destroy: true,
            bInfo: false,
            data: datos,
            columns: [
                { data: "codigo" },
                { data: "descripcion" },
                { data: "unidad" },
                { data: "familia" },
                { data: "stock" },
                {
                    render: function (data, type, row)
                    {
                        return "<a class='btn btn-info' onclick='cargar_id("+JSON.stringify(row)+")' title='Seleccionar' href='#'><i class='fa fa-check'></i></a>";
                    }
                },
            ]
        });
    }

    function llenar_grid_articuloalm(datos) {
        $("#gridArticulosAlm").DataTable({
            destroy: true,
            bInfo: false,
            data: datos,
            columns: [
                { data: "codigo" },
                { data: "descripcion" },
                { data: "unidad" },
                { data: "almacen" },
                { data: "stock" },
            ]
        });
    }

    function cargar_id(row) {
        $("#m_codigo").val(row.codigo);
        $("#m_descripcion").val(row.descripcion);
        $("#m_unidad").val(row.unidad);
        $("#m_stock").val(row.stock);
        $("#m_btn_artalm").removeClass("disabled");
        buscar_xalmacen();
        $('#m_garticulo').modal('hide');
    }

    function validar_id() {
        var bandera = true;
        var articulo = $("#m_codigo").val().trim();
        if (articulo != "") {
            for (var i = 0; i < datos_articulo.length; i++) {
                if (datos_articulo[i].codigo == articulo) {
                    bandera = false;
                    break;
                }
            }

            if (bandera) {
                $("#m_codigo").val("");
                $("#m_unidad").val("");
                $("#m_stock").val("");
                $("#m_descripcion").val("");
                MostrarMensaje("Rojo", "Código del Artículo no válido");
                $("#m_btn_artalm").addClass("disabled");
                $("#m_codigo").focus();
            } else {
                $("#m_codigo").val(datos_articulo[i].codigo);
                $("#m_unidad").val(datos_articulo[i].unidad);
                $("#m_stock").val(datos_articulo[i].stock);
                $("#m_descripcion").val(datos_articulo[i].descripcion);
                $("#m_btn_artalm").removeClass("disabled");
                buscar_xalmacen();
            }
        }
    }

    function llenar_tabla(row) {
        for (var i = 0; i < row.length; i++) {
            tr = document.createElement("tr");
            tr.id = "r_" + row[0];
            td0 = document.createElement("td");
            node0 = document.createTextNode(row[0]);
            td0.appendChild(node0);
            tr.appendChild(td0);

            td9 = document.createElement("td");
            node9 = document.createTextNode(row[1]);
            td9.appendChild(node9);
            tr.appendChild(td9);

            td1 = document.createElement("td");
            node1 = document.createTextNode(row[2]);
            td1.appendChild(node1);
            tr.appendChild(td1);

            td2 = document.createElement("td");
            node2 = document.createTextNode(row[3]);
            td2.appendChild(node2);
            tr.appendChild(td2);

            td3 = document.createElement("td");
            node3 = document.createTextNode(row[4]);
            td3.appendChild(node3);
            tr.appendChild(td3);

            td4 = document.createElement("td");
            node4 = document.createTextNode(row[5]);
            td4.appendChild(node4);
            tr.appendChild(td4);

            td5 = document.createElement("td");
            node5 = document.createTextNode(row[6]);
            td5.appendChild(node5);
            tr.appendChild(td5);

            td6 = document.createElement("td");
            node6 = document.createTextNode(row[7]);
            td6.appendChild(node6);
            tr.appendChild(td6);

            td7 = document.createElement("td");
            node7 = document.createTextNode(row[8]);
            td7.appendChild(node7);
            tr.appendChild(td7);

            td8 = document.createElement("td");
            node8 = document.createTextNode(row[9]);
            td8.appendChild(node8);
            tr.appendChild(td8);

            td10 = document.createElement("td");
            a0 = document.createElement("a");
            i0 = document.createElement("i");
            i0.className = "fa fa-edit";
            a0.className = "btn btn-info";
            a0.href = "#";
            eval("a0.onclick = function(){editar_articulo(" + row[0] + ");}");
            a0.appendChild(i0);
            td10.appendChild(a0);
            tr.appendChild(td10);

            td11 = document.createElement("td");
            a1 = document.createElement("a");
            i1 = document.createElement("i");
            i1.className = "fa fa-times";
            a1.className = "btn btn-danger";
            a1.href = "#";
            eval("a1.onclick = function(){eliminar_articulo(" + row[0] + ");}");
            a1.appendChild(i1);
            td11.appendChild(a1);
            tr.appendChild(td11);
        }
        return tr;
    }

    function agregar_articulo() {
        var linea = $("#m_linea").val();
        var codigo = $("#m_codigo").val();
        var glosa = $("#glosa_articulo").val();
        var unidad = $("#m_unidad").val();
        var stock = $("#m_stock").val();
        var descripcion = $("#m_descripcion").val();
        var cantidad = $("#m_cantidad").val();
        var centro_costo = $("#centro_costo").val();
        var nro_maquina = $("#nro_maquina").val();
        var orden_fabricacion = $("#orden_fabricacion").val();
        var fecha_req = $("#fecha_req").val();
        var tabla = $("#tabla_articulo")[0];
        var arreglo = new Array();

        if ((codigo != "") && (unidad != "") && (descripcion != "") && (cantidad != "") && (fecha_req != "") && (centro_costo != "")) {
            if (linea == "") {
                arreglo[0] = global;
                arreglo[1] = codigo;
                arreglo[2] = descripcion;
                arreglo[3] = unidad;
                arreglo[4] = cantidad;
                arreglo[5] = fecha_req;
                arreglo[6] = centro_costo;
                arreglo[7] = nro_maquina;
                arreglo[8] = orden_fabricacion;
                arreglo[9] = glosa;
                tabla.appendChild(llenar_tabla(arreglo));
                global++;
            } else {
                $("#r_" + linea).each(function (index) {
                    var td = $(this).children("td");
                    td.eq(1).text($("#m_codigo").val());
                    td.eq(2).text($("#m_descripcion").val());
                    td.eq(3).text($("#m_unidad").val());
                    td.eq(4).text($("#m_cantidad").val());
                    td.eq(5).text($("#fecha_req").val());
                    td.eq(6).text($("#centro_costo").val());
                    td.eq(7).text($("#nro_maquina").val());
                    td.eq(8).text($("#orden_fabricacion").val());
                    td.eq(9).text($("#glosa_articulo").val());
                });
            }
            limpiar_campos();
        } else {
            MostrarMensaje("Rojo", "Faltan datos obligatorios");
        }
    }

    function limpiar_campos() {
        $("#m_linea").val("");
        $("#m_codigo").val("");
        $("#glosa_articulo").val("");
        $("#m_unidad").val("");
        $("#m_stock").val("");
        $("#m_descripcion").val("");
        $("#m_cantidad").val("");
        //$("#centro_costo").val("");
        $("#nro_maquina").val("");
        $("#orden_fabricacion").val("");
        //$("#fecha_req").val("");
    }

    function editar_articulo(linea) {
        $("#r_" + linea).each(function (index) {
            var td = $(this).children("td");
            $("#m_linea").val(td.eq(0).text());
            $("#m_codigo").val(td.eq(1).text());
            $("#m_descripcion").val(td.eq(2).text());
            $("#m_unidad").val(td.eq(3).text());
            $("#m_cantidad").val(td.eq(4).text());
            $("#fecha_req").val(td.eq(5).text());
            $("#centro_costo").val(td.eq(6).text());
            $("#nro_maquina").val(td.eq(7).text());
            $("#orden_fabricacion").val(td.eq(8).text());
            $("#glosa_articulo").val(td.eq(9).text());
            $('#m_articulos').modal('show')
        });
    }

    function eliminar_articulo(linea) {
        swal({
            title: "¿Estás seguro?",
            text: "Confirmar anulado de la línea: " + linea,
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-secondary",
            confirmButtonText: "Aceptar",
            cancelButtonText: "Cancelar",
        },
        function (isConfirm) {
            if (isConfirm) {
                $("#r_"+linea).remove();
            }
        });
    }
</script>
