@model IEnumerable<Datos.Models.REQUISC>

@{
    ViewData["Title"] = "Requisiciones de Compras";
    var datos_json = Json.Serialize(ViewBag.ListadoCompras);
}

<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">@Html.ActionLink(ViewData["Title"].ToString(), "Index", "Compras")</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-danger card-outline">
                <div class="card-header mb-1">
                    <h5 class="float-left">
                        Listado de Requisiciones de Compras
                    </h5>
                    <a href="@Url.Action("Create", "Compras")" class="btn btn-primary float-right">
                        <i class="fa fa-plus"></i>
                        Nuevo
                    </a>
                </div>
                <div class="card-body p-2"> 
                    <table id="GridComprasIndex" class="table table-hover table-striped pre-scrollable2 dataTables">
                        <thead class="bg-info">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NUMERO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SOLICITANTE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AREA)
                                </th>
                                <th style="width: 30%">
                                    @Html.DisplayNameFor(model => model.FECHA)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ESTADO)
                                </th>
                                <th style="max-width: 5px"></th>
                                <th style="max-width: 5px"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        /*$.ajax({
            type: 'POST',
            url: 'Url.Action("ListadoCompras", "Compras")',
            data: '',
            cache: false,
            success: function (result) {
                datos_json = result;
                console.log(result);
                //activar_datos();
            },
        });*/
        var datos = JSON.parse('@Html.Raw(datos_json)');
        activar_datos(datos.value);
    });

    function activar_datos(datos) {
        $("#GridComprasIndex").DataTable({
            destroy: true,
            bInfo: false,
            data: datos,
            columns: [
                { data: "numero" },
                { data: "solicitante" },
                { data: "area" },
                {
                    "render": function (data, type, row) {
                        var arreglo1 = row.fecha.split("T");
                        var arreglo = arreglo1[0].split("-");
                        if (arreglo[2].length < 2) arreglo[2] = "0" + arreglo[2];
                        if (arreglo[1].length < 2) arreglo[1] = "0" + arreglo[1];
                        var myDate = arreglo[2] + "/" + arreglo[1] + "/" + arreglo[0];

                        return myDate;
                    }
                },
                { data: "estado" },
                {
                    render: function (data, type, row)
                    {
                        return '<a class="btn btn-info grid_opt" title="Editar" href="@Url.Content("~/Compras/Edit?codigo=")'+row.numero+'"><i class="fa fa-edit"></i></a>';
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        return '<a class="btn btn-danger" title="Anular" href="#" onclick="anular_rcompra(\'' + row.numero + '\')"><i class="fa fa-trash"></i></a>';
                    }
                },
            ]
        });
    }

    function anular_rcompra(nrorequi) {
        swal({
            title: "¿Estás seguro?",
            text: "Confirmar Anulado del registro: " + nrorequi,
            type: "info",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-secondary",
            confirmButtonText: "Aceptar",
            cancelButtonText: "Cancelar",
        },
        function (isConfirm) {
            if (isConfirm) {
                var parametros = "id=" + nrorequi;
                $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    url: "@Url.Content("~/Compras/Delete")",
                    data: parametros,
                    cache: false,
                    success: function (datos) {
                        if (datos.resultado) {
                            window.location = '@Url.Content("~/Compras/")';
                        } else {
                            swal({
                                title: "Error",
                                text: datos.error,
                                type: "error",
                                confirmButtonClass: "btn-danger",
                            });
                        };
                    },
                    error: function (xhr) { 
                        swal({
                            title: "Error",
                            text: xhr.responseText,
                            confirmButtonClass: "btn-danger",
                        });
                    },
                });
            }
        });
    }
</script>
