@model IEnumerable<Datos.Models.REQUISC>

@{
    ViewData["Title"] = ViewBag.Titulo;
    var datos_json = Json.Serialize(ViewBag.ListadoCompras);
    DateTime hoy = DateTime.Now;

    string miVariable = hoy.ToString("dd/MM/yyyy");
    ViewBag.FechaHoy = miVariable;
    miVariable = hoy.ToString("MM/yyyy");
    ViewBag.Fecha1 = "01/"+miVariable;
}

<div class="container-fluid">
    <input type="hidden" id="error" name="error" value="@ViewBag.error" />
    <div class="row mt-1">
        <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">@Html.ActionLink("Requisiciones de "+ViewData["Title"].ToString(), "Index", "Compras")</li>
            </ol>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-4 col-md-2">
            <label>Fecha Desde</label>
            <input id="fecha_desde" class="form-control fecha" value="@ViewBag.Fecha1" />
        </div>
        <div class="col-sm-4 col-md-2">
            <label>Fecha Hasta</label>
            <input id="fecha_hasta" class="form-control fecha" value="@ViewBag.FechaHoy" />
        </div>
        <div class="col-sm-4 col-md-2">
            <label>&nbsp;</label><br />
            <button class="btn btn-primary" onclick="buscar_index()">
                <i class="fa fa-search"></i>
                Buscar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-danger card-outline">
                <div class="card-header mb-1">
                    <h5 class="float-left">
                        Listado Requisiciones de @ViewData["Title"].ToString()
                    </h5>
                    <a href="@Url.Action("Create", "Compras")" class="btn btn-primary float-right">
                        <i class="fa fa-plus"></i>
                        Nuevo
                    </a>
                </div>
                <div class="card-body p-2">
                    <table id="GridComprasIndex" class="table table-hover table-striped pre-scrollable2 dataTables">
                        <thead class="bg-info">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NUMERO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SOLICITANTE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AREA)
                                </th>
                                <th style="width: 30%">
                                    @Html.DisplayNameFor(model => model.FECHA)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ESTADO)
                                </th>
                                <th style="max-width: 5px"></th>
                                <th style="max-width: 5px"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".fecha").datepicker({
            language: 'es',
            format: 'dd/mm/yyyy',
            autoclose: true,
            startDate: '-1Y',
            endDate: '+1Y',
            orientation: 'bottom'
        });

        $(".fecha").inputmask('99/99/9999', { numericInput: true });

        revisar_error();

        var datos = JSON.parse('@Html.Raw(datos_json)');
        activar_datos(datos.value);
    });

    function revisar_error() {
        if ($("#error").val() != "") {
            /*swal({
                title: "Alerta",
                text: $("#error").val(),
                type: "info",
                confirmButtonText: "Aceptar",
            });*/
            MostrarMensaje("Rojo", $("#error").val());
            $("#error").val("");
        }
    }

    function buscar_index() {
        var fecha_desde = $("#fecha_desde").val();
        var fecha_hasta = $("#fecha_hasta").val();

        if ((fecha_desde != "") && (fecha_hasta != "")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListadoCompras", "Compras")',
                dataType: "json",
                data: 'fecha_desde='+fecha_desde+'&fecha_hasta='+fecha_hasta,
                cache: false,
                success: function (result) {
                    activar_datos(result);
                },
            });
        }
    }

    function activar_datos(datos) {
        $("#GridComprasIndex").DataTable({
            destroy: true,
            bInfo: false,
            data: datos,
            columns: [
                { data: "numero" },
                { data: "solicitante" },
                { data: "area" },
                {
                    "render": function (data, type, row) {
                        var arreglo1 = row.fecha.split("T");
                        var arreglo = arreglo1[0].split("-");
                        if (arreglo[2].length < 2) arreglo[2] = "0" + arreglo[2];
                        if (arreglo[1].length < 2) arreglo[1] = "0" + arreglo[1];
                        var myDate = arreglo[2] + "/" + arreglo[1] + "/" + arreglo[0];

                        return myDate;
                    }
                },
                { data: "estado" },
                {
                    render: function (data, type, row)
                    {
                        if (row.estado == "P") {
                            return '<a class="btn btn-info grid_opt" title="Editar" href="@Url.Content("~/Compras/Edit?codigo=")'+row.numero+'"><i class="fa fa-edit"></i></a>';
                        } else {
                            return '';
                        }
                        
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        if (row.estado == "P") {
                            //return '<a class="btn btn-danger" title="Eliminar" href="#" onclick="anular_rcompra(\'' + row.numero + '\')"><i class="fa fa-trash"></i></a>';
                            return '<a class="btn btn-danger" title="Eliminar"  href="@Url.Content("~/Compras/Delete?codigo=")'+row.numero+'"><i class="fa fa-trash"></i></a>';
                        } else {
                            return '';
                        }                        
                    }
                },
            ]
        });
    }
    
    function anular_rcompra(nrorequi) {
        swal({
            title: "¿Estás seguro?",
            text: "Confirmar Anulado del registro: " + nrorequi,
            type: "info",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-secondary",
            confirmButtonText: "Aceptar",
            cancelButtonText: "Cancelar",
        },
        function (isConfirm) {
            if (isConfirm) {
                var parametros = "id=" + nrorequi;
                $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    url: "@Url.Content("~/Compras/Delete")",
                    data: parametros,
                    cache: false,
                    success: function (datos) {
                        if (datos.error != "") {
                            //MostrarMensaje("Rojo", datos.error);
                            $("#error").val(datos.error);
                            revisar_error();
                        } else {
                            window.location = '@Url.Content("~/Compras/Index")';
                        };
                    },
                    error: function (xhr) {
                        swal({
                            title: "Alerta",
                            text: xhr.responseText,
                            confirmButtonClass: "btn-danger",
                        });
                    },
                });
            }
        });
    }
</script>
